<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="customers" routerLinkActive="active" class="nav-link" ><button class="btn btn-primary"><i class="fas fa-list-ul"></i>Customer List</button></a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-customer" routerLinkActive="active" class="nav-link" ><button class="btn btn-primary"><i class="fas fa-plus-square"></i>Add Customer</button></a>
      </li>
  </ul>
</nav>

<div class = "container">
  <router-outlet></router-outlet>
  <app-charts></app-charts>
</div>
<br>
<footer class = "footer"style="background-color:black;height:50px">
  <div class = "container text-center" >
      <span style="color:white">All Rights Reserved SIM-2022@El-hamasi Fatima Zohra/ Oukili Chaimae</span>
  </div>
</footer>